html,
body {
  background-color: rgb(245, 239, 228);
  height: 100vh;
  margin: 0;
  width: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  /* width: auto; */
  font-size: 32px;
  color: #2a2001;
  transition: 1s;
z-index: 1;
}

.nav :hover {
  color: #e1d337;
}
